[*]
charset=utf-8
end_of_line=lf
trim_trailing_whitespace=true
insert_final_newline=true

[*.{asax,ascx,aspx,c,c++,cc,cp,cpp,cs,cshtml,css,cu,cuh,cxx,h,hh,hpp,htm,html,hxx,inc,inl,ino,ipp,js,jsx,master,mpp,razor,skin,tpp,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{appxmanifest,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd,yml}]
indent_style=space
indent_size=2
tab_width=2

# .NET Code Analyzers
[*.{cs,vb}]
dotnet_diagnostic.IDE0005.severity = error
dotnet_diagnostic.IDE0060.severity = error

dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CS1591.severity = none
